<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes Page</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="topnav">
  <a class="active" href="/about_us">Home</a>
  <a href="/recipes">Recipes</a>
  <a href="/share">Share</a>
  <a id="signout" href="/">signout</a>
  <a id = "bold"><bold>Hello, </bold>{{name}}</a>
  
</div>

    <div class="jumbotron text-center">
        <h1>Welcome to cake my day</h1>
        <p id="p1">Your favorite Sweet Wave to visit</p>
    </div>

    <br>
    <br>
    <br>

    <div class="container-fluid text-center">
        <h1>About Us</h1>
        <br>
        <h3>This website is designed to find and share your most favorite type of cake</h3>
        <p>Furthermore, you get learn about cakes, and enjoy some fun facts!</p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div>
        <h1><mark>What are cakes?</mark></h1>
        <br>
        <h3>Cake is often served as a celebratory dish on ceremonial occasions, such as weddings, anniversaries, and birthdays. There are countless cake recipes. Cake making is no longer a complicated procedure; while at one time considerable labor went into cake making (particularly the whisking of egg foams), baking equipment and directions have been simplified so that even the most amateur of cooks may bake a cake.</h3>
        <br>
        <h3>There are many cake shapes, some of them are:-</h3>
        <ul>
            <li class='firstlist'>Bundt cakes</li>
            <li class='firstlist'>Cake balls</li>
            <li class='firstlist'>Cake pops</li>
            <li class='firstlist'>Conical</li>
            <li class='firstlist'>Cupcakes or madeleines</li>
            <li class='firstlist'>Layer cakes</li>
            <li class='firstlist'>Sheet cakes</li>
            <li class='firstlist'>Swiss rolls</li>
        </ul>
    </div>

    <br>
    <br>
    <br>

    <div>
        <h1><mark>Fun Facts</mark></h1>
        <br>
        <ul>
            <li class='firstlist'>According to an old American superstition, placing a fruit cake under your pillow will help you find a good husband</li>
            <li class='firstlist'>The cake stacking custom was very poopular at weddings, even in the old days. Each guest brings a layer of cake. The higher the cake was, the more popular the coyuple was believed to be</li>
            <li class='firstlist'>Cakes were originally round in shape to represent the sun and the moon, which are symbols of life in nature</li>
            <li class='firstlist'>The National cake day is celebrated on November 26th</li>
            <li class='firstlist'>The word ‘cake’ originated from the Middle English ‘kake’. It is also related to some English word called pastry and tart</li>
            <li class='firstlist'>The first known wedding cakes were actually of bread</li>
            <li class='firstlist'>Google declared the fastest-growing recipe search is for cupcakes, a testament to the continuing popularity of this irresistible treat</li>
            <li class='firstlist'>The first reference to 'birthday cake' came in 1785</li>
        </ul>
    </div>
    
</body>
</html>