<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body id="first_body">
    <a href="/signup"><button class="sign">signup</button></a>
    <br>
    <br>
    <form method="POST" action="/">
        <div class="first_page"><center><h1 class= "header1">
        Log in to your account
        </h1></center></div>

        <br>
        <br>
        <br>
        <div class="first_page" >
        <p  class= "paragraphes">
        Please fill up your information below to sign in.
        </p>
        </div>

        <br>
        <br>

        <div>
            <label class="first_page">Email address</label>
            <br>
            <br>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <br>

        <div>
            <label class="first_page">Password</label>
            <br>
            <br>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>

        <center><div>
            <input type="submit"/>
        </div></center>
    </form>
    <br>
</body>
</html>